.RightSide {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.navIcons {
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
}

.navIcons>img {
    width: 1.5rem;
    height: 1.5rem;
}

.profileNav {
    display: none;
}

@media only screen and (max-width:930PX) {
    .TrendCard-righside {
        display: none;
    }

    .navIcons {
        display: block;
    }

    .navIcons>div {
        margin: 50px 0;
        display: flex;
        justify-content: center;
    }

    .RightSide {
        background-color: rgb(223, 223, 223);
        border-radius: 2rem;

    }
    .profileNav{
        display: block;
    }

}

@media only screen and (max-width:700px) {
    .RightSide {
        position: fixed;
        bottom: 0;
       right: 0;
        left: 0;
        width: 100%;
        border-radius: 2rem 2rem 0 0 ;
    }
    .navIcons {
        display: flex;
    }
    .navIcons>div {
        margin: 5px 30px;
        display: flex;
        justify-content: center;
    }
}