/* .head{
    font-family: 'Grand Hotel', cursive;
    font-size: 4rem;
}
.btn{
    border-radius: 7px;
}
.adminmain{
   
    padding: 2rem;
    background-color: rgb(155, 155, 155);
    border-radius: 9px;
    
} */
.panel{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
}